<template>
   <span class="ui-icon-base component" v-on="$attrs">
      <component :is="iconName" :width="width" :height="height" :color="color"> </component>
   </span>
</template>

<script>
import write from './write.vue'
import moon from './moon.vue'
import done from './done.vue'
import arrowDown from './arrowDown.vue'
import sort from './sort.vue'
import sortDown from './sortDown.vue'
import sortUp from './sortUp.vue'

export default {
   name: 'UiIconBase',
   props: {
      iconName: {
         type: String,
         default: 'moon'
      },
      width: {
         type: String,
         default: '18px'
      },
      height: {
         type: String,
         default: '18px'
      },
      color: {
         type: String,
         default: 'currentColor'
      }
   },

   components: {
      write,
      moon,
      done,
      arrowDown,
      sort,
      sortDown,
      sortUp
   }
}
</script>

<style lang="scss" scoped>
.ui-icon-base.component {
   display: inline-block;
}
</style>
