<template>
    <div class="home page">
        <h1>{{ msg }}</h1>
        <button @click="isShownModal = true">show modal</button>
        <button @click="showToast">show toast</button>
        <UiModal closeOnOverlay :v-model:show="isShownModal">
            <div class="some-modal-content">
                hi here
                <div class="buttons">
                    <button @click="submitModalHandler">ok</button>
                </div>
            </div>
        </UiModal>

        <UiBaseIcon
            width="40px"
            height="40px"
            color="blue"
            iconName="moon"
            @click="onClickIcon"
        />
    </div>
</template>

<script>
import UiModal from '@/components/UiModal.vue'
import UiBaseIcon from '@/assets/icons/UiBaseIcon.vue'
import { login } from '@/services/account.service'

export default {
    name: 'IndexPage',

    components: {
        UiModal,
        UiBaseIcon
    },

    data() {
        return {
            msg: 'Welcome to Index!!!',
            isShownModal: false,
            inputError: false,
            checkboxState: false,

            pagination: {
                limit: 20,
                offset: 0,
                total: 60
            }
        }
    },

    methods: {
        showToast() {
            console.log('aaa')
            this.$store.commit('toast/NEW', {
                type: 'success',
                message: 'hello'
            })
        },
        submitModalHandler() {
            // some logic
            this.isShownModal = false
        },
        onBlur() {
            console.log('onBlur!!!')
        },
        onEnter() {
            console.log('onEnter!!!')
        },
        onEsc() {
            console.log('onEsc!!!')
        },
        onClickIcon() {
            // console.log('onClickIcon!!!!')
            // getSim()
            login()
        }
    }
}
</script>

<style lang="scss" scoped>
.some-modal-content {
    min-width: 400px;
    padding: 25px;

    .buttons button {
        padding: 10px;
        margin: 10px;
    }
}
</style>
