<template>
   <div class="news page">
      <div>
         <h1>{{ newsText }}</h1>
         <br /><br />
      </div>

      <div class="news-list"></div>
   </div>
</template>

<script>
import prepareQueryParamsMixin from '../../mixins/prepareQueryParamsMixin'
import prepareFetchParamsMixin from '../../mixins/prepareFetchParamsMixin'

export default {
   name: 'NewsPage',
   mixins: [prepareQueryParamsMixin, prepareFetchParamsMixin],
   components: {},

   props: {
      limit: { type: Number, default: 10 },
      offset: { type: Number, default: 0 }
   },

   watch: {
      'pagination.limit': function () {
         console.log('vao dayyyyyy')
         this.$router.replace({
            query: this.useInUrlQueryPropList
         })
         // this.fetchData()
      },
      'pagination.offset': function () {
         this.$router.replace({
            query: this.useInUrlQueryPropList
         })
         // this.fetchData()
      }
   },

   data() {
      return {
         newsText: 'NewsPage Component',
         news: [],
         error: false,
         loading: false,
         pagination: {
            limit: this.limit,
            offset: this.offset,
            total: 0
         }
      }
   },

   methods: {
      async fetchData() {
         // this.loading = true

         // try {
         //   const { data } = await PostsService.getListPublic(this.fetchParams)
         //   this.news = data.content
         //   this.pagination.total = data.total
         // } catch (e) {
         //   this.$store.commit('toast/NEW', { type: 'error', message: e.message, e })
         //   this.error = e.message
         //   console.log(e)
         // } finally {
         //   this.loading = false
         // }
         this.pagination.limit = 30
      }
   },

   computed: {
      // isEmpty () {
      //   return this.news && !this.news.length
      // },

      useInUrlQueryPropList() {
         console.log(
            'skkahslkdhakjsd',
            this.prepareQueryParamsMixin({
               limit: this.pagination.limit,
               offset: this.pagination.offset
            })
         )
         return this.prepareQueryParamsMixin({
            limit: this.pagination.limit,
            offset: this.pagination.offset
         })
      },
      fetchParams() {
         const pagination = this.prepareFetchParamsMixin({
            limit: this.pagination.limit,
            offset: this.pagination.offset
         })

         return { ...pagination }
      }
   },

   created() {
      this.fetchData()
   }
}
</script>
